<%- include ('partials/header.ejs') %>
    <p>Bem vindo(a) <strong><%= user %></strong> ao seu perfil!</p>
    <hr>
    <ul>
        <li><a href="/">Voltar à Homepage</a></li>
    </ul>
<%- include ('partials/footer.ejs') %>